<div class="game-container">
  <div class="puzzle-board">
    <canvas id="video-canvas" width="640" height="480"></canvas>
  </div>

  <div class="game-actions">
    <button class="action-button" id="shift_LEFT">◄</button>
    <button class="action-button" id="shift_UP">▲</button>
    <button class="action-button" id="shift_DOWN">▼</button>
    <button class="action-button" id="shift_RIGHT">►</button>

    <button class="action-button primary" id="view-solution">
      View Solution
    </button>
  </div>
</div>
