<div class="tutorial">
  <div class="step step1 hidden">
    <img
      id="hand-pointer"
      src="../../assets/hand_pointer_transparent.png"
      alt="Tutorial Image"
    />
    <div class="focus-box box1"></div>
    <div class="focus-box box2"></div>
    <div class="step-description">Drag and drop a tile on top of another to swap.</div>
  </div>

  <div class="step step2 hidden">
    <div class="focus-box small-box1"></div>
    <div class="focus-box big-box1">
      <div class="step-description">Shift the entire grid by columns.</div>
    </div>
    <div class="focus-box small-box2"></div>
  </div>

  <div class="step step3 hidden">
    <div class="focus-box small-box1"></div>
    <div class="focus-box big-box1">
      <div class="step-description">Shift the entire grid by rows.</div>
    </div>
    <div class="focus-box small-box2"></div>
  </div>
</div>
